@import '../../zen-styles/variables.scss';
@import '../../zen-styles/mixins/forms.scss';

$border: rgba(#000, 0.1);
$background: #fff;
$open-transition: 0.2s;

:host {
  position: relative;
  display: block;
  text-align-last: left;
  outline: none;
  font-size: $text-md;
}

:host(:focus) .field {
  @include zenInputFocus;
}

$field-height: #{1.2rem + 2 * 0.5rem};

.field {
  @include zenInput;
  @include noselect;
  z-index: 1;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: $input-radius;
  height: $field-height;

  .arrow {
    position: absolute;
    right: 10px;
    top: calc(50% - 9px);
    color: $color-gray-500;
    border-bottom-width: 0;
    transition: transform $open-transition;
  }

  &.opened {
    .arrow {
      transform: rotate(180deg);
    }
  }
}

.list-wrap {
  position: absolute;
  left: -24px;
  right: -24px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  overflow: hidden;
  z-index: 100;
}

$item-line-height: 1.2rem;
$item-ypadding: 0.5rem;

.list {
  border: 1px solid $border;
  border-top: none;
  background-color: $background;
  padding: 0;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 5px, rgba(0, 0, 0, 0.1) 1px 4px 24px;
  max-height: #{4 * ($item-line-height + 2 * $item-ypadding)};
  transition: transform $open-transition, opacity $open-transition linear;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-bottom-left-radius: $input-radius;
  border-bottom-right-radius: $input-radius;

  li {
    line-height: $item-line-height;
    list-style-type: none;
    transition: background-color 0.1s linear;
    padding: $item-ypadding 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &:hover {
      background-color: rgba(#000, 0.05);
    }

    &.selected {
      background-color: $color-gray-100;
    }
  }
}

.list[animate='out-end'],
.list[animate='in-start'] {
  opacity: 0;
  transform: translate(0, -100px);
}

.list-wrap.open-above {
  // Move menu above the dropdown:
  transform: translate(0, calc(-100% - #{$field-height}));
  padding-top: 24px;
  padding-bottom: 0;

  .list {
    border-radius: 0;
    border-top-left-radius: $input-radius;
    border-top-right-radius: $input-radius;
  }

  .list[animate='out-end'],
  .list[animate='in-start'] {
    // Drive in from below:
    transform: translate(0, 100px);
  }
}
