@import '../../zen-styles/variables.scss';
@import '../../zen-styles/shadows.scss';
@import '../../zen-styles/mixins/forms.scss';

$border: rgba(#000, 0.1);
$background: #fff;
$open-transition: 0.2s;

$field-height: #{1rem + 2 * 0.5rem};

:host {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1px; // hack for field height=100%
  min-height: $field-height;
  text-align-last: left;
  outline: none;
  font-size: $text-md;
}

:host(:focus) .field {
  &:not(.borderless) {
    @include zenInputFocus;
  }

  &.borderless {
    font-weight: bold;
  }
}

.hidden {
  display: none;
}

.field {
  @include zenInput;
  @include zenInputBase;
  @include noselect;
  z-index: 1;
  position: relative;
  border-radius: $input-radius;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: initial;

  &:not(.borderless) {
    @include zenInputBorder;
  }

  .arrow {
    margin-left: auto;
    margin-right: 0.75rem;
    color: $color-gray-500;
    border-bottom-width: 0;
    transition: transform $open-transition;
  }

  &.opened .arrow {
    transform: rotate(180deg);
  }
}

.placeholder {
  padding: 0.5rem;
  opacity: 0.5;
}

:host([size='sm']) {
  min-height: 1.5rem;

  .arrow {
    margin-right: 0.5rem;
  }
}

:host([size='lg']) {
  min-height: 2.5rem;

  .arrow {
    margin-right: 1rem;
  }
}

$item-line-height: 1.2rem;
$item-ypadding: 0.5rem;

.list {
  max-height: #{4 * ($item-line-height + 2 * $item-ypadding)};
}

:host([invalid='true']) .field {
  box-shadow: $shadow-invalid;
  transition: box-shadow $transition-color;
  border: 1px solid $color-red-700;
}
