@import '../../zen-styles/variables.scss';
@import '../../zen-styles/mixins/forms.scss';

:host {
  display: flex;
  width: 100%;
  height: 5rem;
}

textarea.input-control {
  @include zenInput;
  @include noselect;
}
