@import '../../zen-styles/variables.scss';
@import '../../zen-styles/mixins/forms.scss';

:host {
  display: inline-flex;
  font-size: $text-md;
  max-width: 100%;
  max-height: 100%;
}

textarea.input-control {
  @include zenInput;
  @include zenInputBase;
  @include zenInputBorder;
  padding: 0.375rem 0.5rem;
  flex: 1 1 auto;
}
