@import '../../zen-styles/variables.scss';
@import '../../zen-styles/mixins/forms.scss';
@import '../../zen-styles/shadows.scss';

:host {
  display: inline-flex;
  font-size: $text-md;
  max-width: 100%;
  max-height: 100%;
}

textarea.input-control {
  @include zenInput;
  @include zenInputBase;
  @include zenInputBorder;
  padding: 0.375rem 0.5rem;
  flex: 1 1 auto;
}

:host([invalid]) {
  textarea.input-control {
    box-shadow: $shadow-invalid;
    transition: box-shadow $transition-color;
    border: 1px solid $color-red-700;
  }
}
