@import '../../zen-styles/component-helpers.scss';
@import '../../zen-styles/shadows.scss';

:host {
  display: block;

  border: 1px solid $color-gray-200;
  border-radius: 2px;
  cursor: pointer;
  transition: box-shadow $transition-visibility;
}

:host(:hover) {
  box-shadow: $shadow-drop-200;
}

:host([disabled]) {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
