@import '../scss/component-helpers.scss';

:host {
  display: block;
  border-radius: 2px;
}

:host([disabled]) {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

:host([variant='shadow']) {
  box-shadow: $shadow-drop-card;
}

:host([variant='default']) {
  transition: box-shadow $transition-visibility;
  border: 1px solid $color-gray-200;
  cursor: pointer;
}

:host([variant='default']:hover) {
  box-shadow: $shadow-drop-200;
}
