@import '../../zen-styles/component-helpers.scss';

:host {
  position: absolute;
  display: none;
  max-width: 11rem;
  z-index: 999;
}

.tooltip {
  display: block;
  position: relative;
  pointer-events: none;
  font-size: $text-sm;
  color: $color-white;
  padding: 1rem;
  border-radius: $border-radius-default;
  line-height: 1rem;
  text-align: center;
  font-family: inherit;
  z-index: 999;
}

.tooltip:before {
  content: '';
  position: absolute;
}

.top:before,
.bottom:before {
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  left: 50%;
  transform: translateX(-2px);
}

.top:before {
  bottom: -0.25rem;
}

.bottom:before {
  top: -0.25rem;
}

.right:before,
.left:before {
  top: 50%;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
}

.right:before {
  left: -0.25rem;
}

.left:before {
  right: -0.25rem;
}

.dark {
  color: $color-white;
  background-color: $color-gray-800;
  border: 1px solid $color-gray-800;

  &.top:before {
    border-top: 0.25rem solid $color-gray-800;
  }
  &.bottom:before {
    border-bottom: 0.25rem solid $color-gray-800;
  }
  &.left:before {
    border-left: 0.25rem solid $color-gray-800;
  }
  &.right:before {
    border-right: 0.25rem solid $color-gray-800;
  }
}

.light {
  color: $color-gray-800;
  background-color: $color-white;
  border: 1px solid $color-gray-200;

  box-shadow: 0 4px 6px 0 rgba($color-gray-200, 0.3);

  &.top:before {
    border-top: 0.25rem solid $color-gray-200;
  }
  &.bottom:before {
    border-bottom: 0.25rem solid $color-gray-200;
  }
  &.left:before {
    border-left: 0.25rem solid $color-gray-200;
  }
  &.right:before {
    border-right: 0.25rem solid $color-gray-200;
  }
}

.error {
  color: $color-white;
  background-color: $color-red-800;
  border: 1px solid $color-red-800;

  &.top:before {
    border-top: 0.25rem solid $color-red-800;
  }
  &.bottom:before {
    border-bottom: 0.25rem solid $color-red-800;
  }
  &.left:before {
    border-left: 0.25rem solid $color-red-800;
  }
  &.right:before {
    border-right: 0.25rem solid $color-red-800;
  }
}
