@import '../../zen-styles/component-helpers.scss';

$arrow_size: 0.3rem;

:host {
  position: absolute;
  max-width: 11rem;
  z-index: $z-index-tooltips;
  display: none;

  font-size: $text-sm;
  padding: 1rem;
  border-radius: $border-radius-default;
  line-height: 1rem;
  text-align: center;
  font-family: inherit;

  // light - default:
  color: $color-gray-800;
  background-color: $color-white;
  border: 1px solid $color-gray-200;
  box-shadow: 0 4px 6px 0 rgba($color-black, 0.1);
}

:host(.visible) {
  display: block;
}

:host(.scrollable) {
  pointer-events: all;
  overflow-y: auto;
  overflow-x: hidden;
}

:host(.scrollable) {
  & .arrow {
    display: none;
  }
}

.arrow {
  position: absolute;
  border-color: $color-gray-200;

  &.top,
  &.bottom {
    border-left: $arrow_size solid transparent !important;
    border-right: $arrow_size solid transparent !important;
    left: calc(50% - #{$arrow_size});
  }

  &.right,
  &.left {
    top: calc(50% - #{$arrow_size});
    border-top: $arrow_size solid transparent !important;
    border-bottom: $arrow_size solid transparent !important;
  }

  &.top {
    border-top: $arrow_size solid $color-gray-200;
    bottom: -$arrow_size;
  }

  &.bottom {
    border-bottom: $arrow_size solid $color-gray-200;
    top: -$arrow_size;
  }

  &.right {
    border-right: $arrow_size solid $color-gray-200;
    left: -$arrow_size;
  }

  &.left {
    border-left: $arrow_size solid $color-gray-200;
    right: -$arrow_size;
  }
}

:host(.dark) {
  color: $color-white;
  background-color: $color-gray-800;
  border: 1px solid $color-gray-800;
  box-shadow: none;

  .arrow {
    border-color: $color-gray-800;
  }
}

:host(.error) {
  color: $color-white;
  background-color: $color-red-800;
  border: 1px solid $color-red-800;
  box-shadow: none;

  .arrow {
    border-color: $color-red-800;
  }
}
