@import '../../zen-styles/component-helpers.scss';

:host {
  max-width: 11rem;
}

.open {
  display: block;
  z-index: 999;
}

span {
  display: none;
  background: $color-gray-800;
  font-size: $text-sm;
  color: $color-white;
  padding: 1rem;
  border-radius: 0.1rem;
  line-height: 1rem;
  text-align: center;
  font-family: inherit;
  max-width: 11rem;
  z-index: 999;
}

span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.top:before,
.bottom:before {
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  left: 50%;
  transform: translateX(-2px);
}

.top:before {
  top: -0.25rem;
  border-bottom: 0.25rem solid $color-gray-800;
}

.bottom:before {
  bottom: -0.25rem;
  border-top: 0.25rem solid $color-gray-800;
}

.right:before,
.left:before {
  top: 0.5rem;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
}
.right:before {
  right: -0.25rem;
  border-left: 0.25rem solid $color-gray-800;
}
.left:before {
  left: -0.25rem;
  border-right: 0.25rem solid $color-gray-800;
}

.error {
  background-color: $color-red-800;
}

.error.top:before {
  border-bottom-color: $color-red-800;
}
.error.right:before {
  border-left-color: $color-red-800;
}
.error.bottom:before {
  border-top-color: $color-red-800;
}
.error.left:before {
  border-right-color: $color-red-800;
}
