@import "../../zen-styles/variables.scss";

:host {
  display: block;
}

label {
  font-size: $text-sm;
  font-weight: 700;
  line-height: 1rem;
  color: $color-gray-700;

  span.required {
    color: $color-red-700;
  }
}