h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  // font-family: $headings-font-family; TODO: include font
  font-weight: 700;
  line-height: 1.2em;
  color: #3e464c;
}

h1,
.h1 {
  font-size: 2.25rem;
}
h2,
.h2 {
  font-size: 1.75rem;
}
h3,
.h3 {
  font-size: 1.5rem;
}
h4,
.h4 {
  font-size: 1.25rem;
}
h5,
.h5 {
  font-size: 1.125rem;
}

p {
  line-height: 1.4;
}
