@import '../../zen-styles/variables.scss';
@import '../../zen-styles/shadows.scss';
@import '../../zen-styles/mixins/forms.scss';

:host {
  @include zenInputBorder;
  @include zenInputBase;
  display: flex;
  align-items: center;
  font-size: $text-md;
  min-width: 1rem;
  height: 2rem;
}

:host(:hover) {
  border-color: $color-blue-700;
}

:host(.has-focus) {
  box-shadow: $shadow-focus;
  border-color: $color-blue-700;
  outline: none;
}

:host(.invalid) {
  box-shadow: $shadow-invalid;
  border: 1px solid $color-red-700;
}

:host(.disabled) {
  opacity: 0.5;
  background-color: $color-gray-100;
  pointer-events: none;
  cursor: default;
}

input {
  @include zenInputBase;
  line-height: 1rem;
  padding: 0 0.5rem;
  display: flex;
  border: none;
  flex: 1 1 auto;
  min-width: 1rem;

  &:disabled {
    opacity: 0.5;
    background-color: $color-gray-100;
    pointer-events: none;
    cursor: default;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.ml {
    margin-left: 0.5rem;
  }

  &.mr {
    margin-right: 0.5rem;
  }
}

.icon.clear {
  cursor: pointer;
  color: $color-gray-300;
}

:host([size='sm']) {
  font-size: $text-sm;
  height: 1.5rem;
}

:host([size='lg']) {
  font-size: $text-lg;
  height: 2.5rem;
}
