@import '../../zen-styles/component-helpers.scss';

:host {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: $text-md;
}

:host(:last-child) {
  border-bottom: 1px solid $color-gray-200;
}
