@import '../../zen-styles/component-helpers.scss';

:host {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
  font-size: $text-md;
}

:host(:last-child) {
  border-bottom: 1px solid $color-gray-200;
}
