dist/
react/src/output
react/dist
www/
loader/
public/
stencilDocs.json
stencilDocs.d.ts
/src/components/**/readme.md

# test coverage
coverage
# visual regression testing
cypress/screenshots
cypress/snapshots/**/*/__diff_output__

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
changelog.stories.mdx
