@import '../../zen-styles/component-helpers.scss';

:host {
  display: block;
  width: 90vw;
  max-width: 376px;
  box-sizing: border-box;
  min-height: 128px;
  position: relative;
  padding: 1rem;
  box-shadow: $shadow-drop-200;
  border-radius: 0.1rem;
  background: $color-white;
  animation: appear 0.3s;
}

.hidden {
  visibility: hidden;
}

:host([variant='success']) {
  border-top: 4px solid $color-green-700;

  .title {
    color: $color-green-700;
  }

  .icon {
    color: $color-green-700;
  }
}

:host([variant='info']) {
  border-top: 4px solid $color-gray-400;

  .title {
    color: $color-gray-400;
  }

  .icon {
    color: $color-gray-400;
  }
}

:host([variant='warning']) {
  border-top: 4px solid $color-yellow-700;

  .title {
    color: $color-yellow-700;
  }

  .icon {
    color: $color-yellow-700;
  }
}

:host([variant='error']) {
  border-top: 4px solid $color-red-700;

  .title {
    color: $color-red-700;
  }

  .icon {
    color: $color-red-700;
  }
}

.close {
  position: absolute;
  top: 0.9rem;
  right: 0.9rem;
  width: 0.6rem;
  margin: 0.3rem;
  cursor: pointer;
  color: $color-gray-400;
}

.content {
  font-size: $text-md;
  line-height: 1.25rem;
}

:host(.closing) {
  height: 100%;
  animation: disappear 0.3s;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(0, 3rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translate(0, -3rem);
  }
}
