:host {
  position: fixed;
  z-index: 9999;
}

::slotted(*) {
  margin-bottom: 1rem;
}

:host([position='top-left']) {
  top: 1rem;
  left: 1rem;
}

:host([position='top-center']) {
  top: 1rem;
  left: 50%;
}

:host([position='top-right']) {
  top: 1rem;
  right: 1rem;
}

:host([position='bottom-left']) {
  bottom: 1rem;
  left: 1rem;
}

:host([position='bottom-center']) {
  bottom: 1rem;
  left: 50%;
}

:host([position='bottom-right']) {
  bottom: 1rem;
  right: 1rem;
}
