@import '../../zen-styles/component-helpers.scss';

:host {
  display: block;
  font-size: 0.875rem;
}

.header {
  cursor: pointer;

  .icon {
    margin-right: 0.5rem;
  }
}

.chevron {
  color: $color-gray-700;
}

.content-wrapper {
  display: none;
}

.visible {
  display: block;
}
