@import '../../zen-styles/component-helpers.scss';

:host {
  display: block;
}

.header-container {
  display: flex;

  cursor: pointer;
}

.chevron {
  color: $color-gray-700;
}

.header {
  margin-left: 4px;
}

.content {
  margin-top: 1rem;
}

.visible {
  display: none;
}
