@import '../../zen-styles/component-helpers.scss';

:host {
  display: block;
}

zen-input {
  display: inline-flex;
}

.icon {
  color: $color-gray-300;
}

.icon.clear {
  cursor: pointer;
}

.calendar {
  width: 340px;
  margin-top: 0.25rem;

  .navigation {
    min-height: 3rem;
  }

  .icon {
    cursor: pointer;
    color: $color-gray-500;
  }

  .date {
    min-width: 120px;
    @include noselect;
  }

  .day-name {
    color: $color-gray-500;
    @include noselect;
  }

  .day-num {
    width: calc(100% / 7);
    @include noselect;
    box-sizing: border-box;
    height: 2.75rem;
    border-radius: 2px;

    &:not(.empty) {
      cursor: pointer;

      &:not(.selected):hover {
        background-color: $color-gray-100;
      }
    }

    &.selected {
      background-color: $color-blue-700;
      color: $color-white;

      &:hover {
        background-color: $color-blue-800;
      }
    }
  }
}

:host([invalid='true']) {
  #date-input {
    box-shadow: $shadow-invalid;
    border: 1px solid $color-red-700;
  }
}
