:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: text-bottom;
  border: 2px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin .75s linear infinite;
  box-sizing: border-box;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
