@import '../../zen-styles/component-helpers.scss';
@import './animations.scss';

:host {
  display: block;
  width: 300px;
  position: absolute;
  z-index: 100;
}

.popup-wrap,
.popup {
  height: inherit;
  max-height: inherit;
  min-height: inherit;
  width: 100%;
  max-width: inherit;
  min-width: inherit;
}

:host(:not([interactive])) .popup-wrap {
  pointer-events: none;
}

.popup {
  background-color: $color-white;
  box-shadow: $shadow-drop-200;
  border-radius: 2px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
