@import '../../zen-styles/component-helpers.scss';

:host {
  display: block;
  width: 100%;
}

.item {
  width: 100%;
}

.ghost {
  background-color: $color-white;
  opacity: 0.2;
}

.handle {
  color: $color-gray-400;
  cursor: move;
}
