$color-gray-800: #1e272c;
$color-gray-700: #3e464c;
$color-gray-600: #59626a;
$color-gray-500: #868e96;
$color-gray-400: #959ea8;
$color-gray-300: #adb5bd;
$color-gray-200: #ced4da;
$color-gray-100: #f0f3f6;
$color-white: #ffffff;

$color-blue-900: #00528c;
$color-blue-800: #0068b3;
$color-blue-700: #0078cd;
$color-blue-500: #82bcf1;
$color-blue-300: #abd2f5;
$color-blue-100: #d5e9fa;

$color-red-900: #9c2531;
$color-red-800: #c22f3d;
$color-red-700: #db3444;
$color-red-500: #fa969d;
$color-red-300: #f9b6ba;
$color-red-100: #fcdadd;

$color-green-900: #1b422e;
$color-green-800: #2a6949;
$color-green-700: #34835b;
$color-green-500: #89c5a5;
$color-green-300: #a8d9bd;
$color-green-100: #d8f2e3;

$color-yellow-900: #a26900;
$color-yellow-800: #e69b1c;
$color-yellow-700: #ffac1f;
$color-yellow-500: #ffcd79;
$color-yellow-300: #ffdea5;
$color-yellow-100: #ffeed2;

$color-navy-900: #2e4261;
$color-navy-700: #39537a;
$color-navy-500: #576d8e;

$color-purple-900: #643a6b;
$color-purple-700: #9e5baa;
$color-purple-500: #d18edd;
