$color-gray-800: #1E272C;
$color-gray-700: #3E464C;
$color-gray-600: #59626A;
$color-gray-500: #868E96;
$color-gray-400: #959EA8;
$color-gray-300: #ADB5BD;
$color-gray-200: #CED4DA;
$color-gray-100: #F0F3F6;
$color-white: #FFFFFF;

$color-blue-900: #00528C;
$color-blue-800: #0068B3;
$color-blue-700: #0078CD;
$color-blue-500: #82BCF1;
$color-blue-300: #ABD2F5;
$color-blue-100: #D5E9FA;

$color-red-900: #9C2531;
$color-red-800: #C22F3D;
$color-red-700: #DB3444;
$color-red-500: #FA969D;
$color-red-300: #F9B6BA;
$color-red-100: #FCDADD;

$color-green-900: #1B422E;
$color-green-800: #2A6949;
$color-green-700: #34835B;
$color-green-500: #89C5A5;
$color-green-300: #A8D9BD;
$color-green-100: #D8F2E3;

$color-yellow-900: #A26900;
$color-yellow-800: #E69B1C;
$color-yellow-700: #FFAC1F;
$color-yellow-500: #FFCD79;
$color-yellow-300: #FFDEA5;
$color-yellow-100: #FFEED2;

$color-navy-900: #2E4261;
$color-navy-700: #39537A;
$color-navy-500: #576D8E;

$color-purple-900: #643A6B;
$color-purple-700: #9E5BAA;
$color-purple-500: #D18EDD;
