h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  // font-family: $headings-font-family; TODO: include font
  font-weight: 500;
  line-height: 1.2;
  color: $color-gray-700;
}

h1, .h1 { font-size: 3.6rem; line-height: 4.0rem; }
h2, .h2 { font-size: 2.8rem; line-height: 3.2rem; }
h3, .h3 { font-size: 2.4rem; line-height: 3.0rem; }
h4, .h4 { font-size: 2.0rem; line-height: 2.8rem; }
h5, .h5 { font-size: 1.8rem; line-height: 2.6rem; }

.text-small { font-size: 1.4rem; }
