h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  // font-family: $headings-font-family; TODO: include font
  font-weight: 700;
  line-height: 1.2;
  color: $color-gray-700;
}

h1,
.h1 {
  font-size: 3.6rem;
  line-height: 4rem;
}
h2,
.h2 {
  font-size: 2.8rem;
  line-height: 3.2rem;
}
h3,
.h3 {
  font-size: 2.4rem;
  line-height: 3rem;
}
h4,
.h4 {
  font-size: 2rem;
  line-height: 2.8rem;
}
h5,
.h5 {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

p {
  line-height: 1.4;
}

.text-lg {
  font-size: $text-lg;
}
.text-sm {
  font-size: $text-sm;
}
.text-xs {
  font-size: $text-xs;
}
