// Padding --------------------------------------

$spacings: (
  'none': 0,
  'xs': 1px,
  'sm': 0.25rem,
  'md': 0.5rem,
  'lg': 1rem,
  'xl': 1.5rem,
  '2xl': 2rem,
  '3xl': 2.5rem,
  '4xl': 3rem,
  '5xl': 3.5rem,
  '6xl': 4rem,
);

@mixin paddingSizes {
  @each $key, $value in $spacings {
    :host([padding='#{$key}']),
    :host(.padding-#{$key}) {
      padding: #{$value};
    }
  }

  @each $key, $value in $spacings {
    :host([padding-x='#{$key}']),
    :host(.padding-x-#{$key}) {
      padding-left: #{$value};
      padding-right: #{$value};
    }
  }

  @each $key, $value in $spacings {
    :host([padding-y='#{$key}']),
    :host(.padding-y-#{$key}) {
      padding-top: #{$value};
      padding-bottom: #{$value};
    }
  }

  @each $side in [ 'top', 'right', 'bottom', 'left' ] {
    @each $key, $value in $spacings {
      :host([padding-#{$side}='#{$key}']),
      :host(.padding-#{$side}-#{$key}) {
        padding-#{$side}: #{$value};
      }
    }
  }
}

@mixin marginSizes {
  @each $key, $value in $spacings {
    :host([margin='#{$key}']),
    :host(.margin-#{$key}) {
      margin: #{$value};
    }
  }

  @each $key, $value in $spacings {
    :host([margin-x='#{$key}']),
    :host(.margin-x-#{$key}) {
      margin-left: #{$value};
      margin-right: #{$value};
    }
  }

  @each $key, $value in $spacings {
    :host([margin-y='#{$key}']),
    :host(.margin-y-#{$key}) {
      margin-top: #{$value};
      margin-bottom: #{$value};
    }
  }

  @each $side in [ 'top', 'right', 'bottom', 'left' ] {
    @each $key, $value in $spacings {
      :host([margin-#{$side}='#{$key}']),
      :host(.margin-#{$side}-#{$key}) {
        margin-#{$side}: #{$value};
      }
    }
  }
}
