@import '../../zen-styles/component-helpers.scss';

:host {
  display: inline-flex;

  color: $color-gray-600;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.separator {
  margin: 0 0.5rem;
}
