@import '../../zen-styles/component-helpers.scss';

:host {
  display: block;
}

:host([animation]) zen-avatar-icon {
  transition: $transition-avatar;

  &:hover {
    transform: translateY(-5px);
  }
}

.container {
  display: grid;
}

.avatar-icon {
  margin-right: -8px;
}

.row {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.column {
  flex-direction: column;
  text-align: left;
}

.avatar {
  margin-right: 10px;
}

.title {
  font-size: 0.875rem;
  font-weight: bold;
}

.email {
  font-size: 0.75rem;
  color: $color-gray-700;
}

.hidden {
  display: none;
}

.splitter {
  border-top: 1px solid $color-gray-100;
  margin: 0 10px;
}
