$checkbox-width: 2rem;
$arrow-width: 2rem;

:host {
  display: table-row;
  position: relative;
  transform: scale(1); // hack to apply position relative for widgets (tested in chrome & ff)
  z-index: 2;
}

.widgets {
  position: absolute;
  padding-left: 0.6rem;
  inset: 0 auto 0 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

:host(.expandable) .widgets + ::slotted(*:nth-child(1)) {
  padding-left: #{$arrow-width};
}

:host(.selectable) .widgets + ::slotted(*:nth-child(1)) {
  padding-left: #{$checkbox-width};
}

:host(.expandable.selectable) .widgets + ::slotted(*:nth-child(1)) {
  padding-left: #{$checkbox-width + $arrow-width};
}
