@import './src/zen-styles/colors.scss';
@import './src/zen-styles/variables.scss';
@import './src/zen-styles/typography.scss';

:host {
  display: block;
  color: $color-gray-300;
  font-size: $text-sm;
  margin-bottom: 0.625rem;
}
