@import '../scss/component-helpers.scss';

:host {
  display: flex;
  position: relative;
  align-items: center;
  width: fit-content;
  font-size: $text-md;
  color: $color-gray-700;

  label {
    @include noselect;

    margin-left: 0.5rem;

    & span.required {
      color: $color-red-700;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
    }
  }
}

input.input-control {
  @include noselect;

  font-size: inherit;
  width: 1rem;
  height: 1rem;
  border: 1px solid $color-gray-200;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background-color $transition-element-bump, background-position $transition-element-bump,
    border-color $transition-element-bump, box-shadow $transition-element-bump;
  border-radius: 2px;
  cursor: pointer;
  margin: 0;

  &:indeterminate {
    background-color: $color-blue-700;
    border-color: $color-blue-700;
  }

  &:checked {
    background-color: $color-blue-700;
    border: 2px solid $color-blue-700;
  }

  &:hover {
    border-color: $color-blue-700;
  }

  &:focus {
    box-shadow: $shadow-focus;
    outline: 0;

    &:invalid {
      box-shadow: $shadow-invalid;
    }
  }

  &:invalid {
    box-shadow: $shadow-invalid;
  }

  &:disabled {
    border: 1px solid $color-gray-200;
    background-color: $color-gray-100;
  }
}

.icon {
  color: $color-white;
  position: absolute;
  left: 2px;
}

:host([disabled]:not([disabled='false'])) .icon {
  color: $color-gray-200;
}
