@mixin zenInputBase() {
  color: $color-gray-700;
  background: $color-white;
  box-sizing: border-box;
  border: 1px solid $color-gray-200;
  border-radius: $input-radius;
  display: block;
  font-family: inherit;
  font-size: $text-sm;
  padding: .375rem .5rem;
  margin: .5rem 0;
  width: 100%;

  transition: color $transition-color, background-color $transition-color, border-color $transition-color,
    box-shadow $transition-color;
}

@mixin zenInputFocus() {
  box-shadow: 0 0 0 2px $color-blue-300;
  border-color: $color-blue-700;
  outline: none;

  &:invalid,
  &.invalid {
    box-shadow: 0 0 0 2px $color-red-300;
  }
}

@mixin zenInput() {
  @include zenInputBase();
  &:focus,
  &:active {
    @include zenInputFocus;
  }

  &::placeholder {
    color: $color-gray-400;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  &:hover {
    border-color: $color-blue-700;
  }
}
