@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@mixin round-icon-wrapper($size, $padding: null, $bgColor: null) {
  background: $bgColor;
  margin: $padding;
  height: $size;
  width: $size;
  min-width: $size;
  max-width: $size;
  min-height: $size;
  max-height: $size;
  border-radius: 50%;
  position: relative;
}
