@import '../scss/component-helpers.scss';
@import '../scss/mixins/forms.scss';

$item-line-height: 1.2rem;

:host {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  font-size: $text-md;
  cursor: pointer;
  line-height: $item-line-height;

  .background {
    transition: background-color 0.2s linear;
    display: flex;
    align-items: center;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
    }
  }
}

.content {
  width: 100%; // safari fix
  line-height: $item-line-height;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

:host([size='sm']) .content {
  line-height: 1.5rem;
}

:host([size='md']) .content {
  line-height: 2rem;
}

:host([size='lg']) .content {
  line-height: 2.5rem;
}

:host([selected]) {
  .background {
    font-weight: bold;
  }
}

:host(:not([no-hover])[focused]) {
  .background {
    background-color: $color-gray-100;
  }
}

:host(:not([no-hover])[selected][focused]) {
  .background {
    background-color: $color-gray-100;
    font-weight: bold;
  }
}
