@import "../../zen-styles/variables.scss";

:host {
    $side-padding: 4.8rem;

    display: block;
    position: relative;

    .steps {
      padding: 0 $side-padding 2.4em;
      display: flex;
      justify-content: space-between;
    }

    .step {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
    }

    .roundle {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 10.0rem;

      background-color: $color-gray-200;
      color: $color-white;
      transition: background-color $transition-color,
        transform $transition-element-bump,

      transform: scale(0.7);
      @include noselect;
    }

    .label {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      padding-top: 1.2em;
      width: 12.8rem;
      text-align: center;

      font-size: $text-sm;
      color: $color-gray-200;
      transition: color $transition-color;
      @include noselect;
    }

    li.completed {
      .roundle {
        transform: scale(1);
        background-color: $color-blue-700;
      }
      .label {
        color: $color-gray-500;
      }
    }

    li.active {
      .roundle {
        transform: scale(1);
        background-color: $color-blue-700;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
        transition-delay: 0.2s;
      }
      .label {
        color: $color-blue-700;
        transition-delay: 0.2s;
      }
    }

    .progressbar {
      position: absolute;
      top: 1.2rem;
      left: #{$side-padding + 1.2rem};
      right: #{$side-padding + 1.2rem};
      height: 2px;
      background-color: $color-gray-200;
    }

    .progress {
      position: absolute;
      transform-origin: 0;
      left: 0;
      right: 0;
      transform: scaleX(0);
      height: 2px;
      background-color: $color-blue-700;
      transition: transform 0.3s;
    }
}
