@import '../../zen-styles/component-helpers.scss';

:host {
  $side-padding: 3rem;

  display: block;
  position: relative;

  .steps {
    padding: 0 $side-padding 2.5rem;
    display: flex;
    justify-content: space-between;
  }

  .step {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  .roundle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 6.25rem;

    background-color: $color-gray-200;
    color: $color-white;
    transition: background-color $transition-color, transform $transition-element-bump;

    transform: scale(0.7);
    @include noselect;
  }

  .label {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 0.85rem;
    text-align: center;
    white-space: nowrap;

    font-size: $text-sm;
    color: $color-gray-200;
    transition: color $transition-color;
    @include noselect;
  }

  li.completed {
    .roundle {
      transform: scale(1);
      background-color: $color-blue-700;
    }
    .label {
      color: $color-gray-500;
    }
  }

  li.active {
    .roundle {
      transform: scale(1);
      background-color: $color-blue-700;
      transition-delay: 0.2s;
    }
    .label {
      color: $color-blue-700;
      transition-delay: 0.2s;
    }
  }

  .progressbar {
    position: absolute;
    top: 0.75rem;
    left: #{$side-padding + 0.75rem};
    right: #{$side-padding + 0.75rem};
    height: 1px;
    background-color: $color-gray-200;
  }

  .progress {
    position: absolute;
    transform-origin: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    height: 1px;
    background-color: $color-blue-700;
    transition: transform 0.3s;
  }
}
