@import '../../zen-styles/variables.scss';

:host {
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.25em;
}

:host([size=xs]) {
  font-size: $text-xs;
}

:host([size=sm]) {
  font-size: $text-sm;
}

:host([size=md]) {
  font-size: $text-md;
}

:host([size=lg]) {
  font-size: $text-lg;
}

:host([size=xl]) {
  font-size: $text-xl;
}

:host([heading][size=xs]) {
  font-size: bold;
  font-size: $heading-xs;
}

:host([heading][size=sm]) {
  font-size: bold;
  font-size: $heading-sm;
}

:host([heading][size=md]) {
  font-size: bold;
  font-size: $heading-md;
}

:host([heading][size=lg]) {
  font-size: bold;
  font-size: $heading-lg;
}

:host([heading][size=xl]) {
  font-size: bold;
  font-size: $heading-xl;
}
