@import '../scss/component-helpers.scss';

:host {
  display: flex;
  padding: 0.25rem 1rem;
  cursor: pointer;
  user-select: none;
  transition: border 0.15s ease-in;
  border-bottom: 4px solid transparent;
  color: $color-gray-400;
  font-size: $text-md;
}

:host([disabled='false']:hover),
:host(:not([disabled]):hover) {
  border-bottom: 4px solid $color-blue-700;
}

:host([selected]:not([selected='false'])) {
  border-bottom: 4px solid $color-blue-700;
  color: $color-gray-700;
  font-weight: bold;
}

:host([disabled]:not([disabled='false'])) {
  color: $color-gray-200;
  cursor: default;
}
