@mixin button-variant($color, $background, $border, $hover, $focus, $active) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover {
    background-color: $hover;
    border-color: $hover;
    cursor: pointer;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 2px $focus;
  }

  &:active {
    background-color: $active;
    border-color: $active;
  }
}

@mixin outline-button-variant(
  $color,
  $background,
  $border,
  $hover-color,
  $hover-background,
  $focus,
  $active-color,
  $active-background
) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover {
    color: $hover-color;
    background-color: $hover-background;
    border-color: $hover-color;
    cursor: pointer;
  }

  &:focus,
  &:active {
    box-shadow: 0px 0px 0px 2px $focus;
  }

  &:active {
    color: $active-color;
    background-color: $active-background;
    border-color: $active-color;
  }
}
