@import "../../zen-styles/component-helpers.scss";
@import "./mixins.scss";


.btn {
  position: relative;
  display: inline-block;
  color: $color-gray-700;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .5rem;
  font-size: 0.875rem;
  font-family: inherit;
  min-width: 3.8125rem;
  line-height: 1.25rem;
  border-radius: $button-radius;
  transition: color $transition-color, background-color $transition-color, border-color $transition-color, box-shadow $transition-color;
  outline: none;
  cursor: pointer;


  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}

.btn-primary {
  @include button-variant($color-white, $color-blue-700, $color-blue-700, $color-blue-800, $color-blue-300, $color-blue-900);
}

.btn-destructive {
  @include button-variant($color-white, $color-red-700, $color-red-700, $color-red-800, $color-red-300, $color-red-900);
}

.btn-secondary {
  color: $color-gray-700;
  background-color: $color-white;
  border-color: $color-gray-600;

  &:hover:not([disabled]) {
    color: $color-white;
    background-color: $color-gray-600;
  }

  &:focus,
  &:active {
    box-shadow: 0px 0px 0px 2px $color-gray-300;
  }

  &:active {
    background-color: $color-gray-700;
    border-color: $color-gray-700;
  }
}

.btn-tertiary {
  color: $color-blue-700;

  &:hover:not([disabled]) {
    background-color: $color-gray-100;
    border-color: $color-gray-100;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 2px $color-blue-300;
  }

  &:active {
    background-color: $color-gray-200;
    border-color: $color-gray-200;
  }
}

zen-spinner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
