@import "../../zen-styles/colors.scss";
@import "../../zen-styles/variables.scss";

.btn {
  display: inline-block;
  font-weight: 400;
  color: $color-gray-700;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 8px;
  font-size: $text-md;
  line-height: 20px;
  border-radius: 2px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.btn-primary {
  color: $color-white;
  background-color: $color-blue-700;
  border-color: $color-blue-700;

  &:hover {
    background-color: $color-blue-800;
    border-color: $color-blue-800;
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(38, 143, 255, .5); // box_shadow($size, $color)
    outline: none;
  }

  &:active {
    background-color: $color-blue-900;
    border-color: $color-blue-900;
    box-shadow: 0 0 0 2px rgba(38, 143, 255, .5);
    outline: none;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn-secondary {
  color: $color-gray-700;
  background-color: $color-white;
  border-color: $color-gray-600;

  &:hover {
    color: $color-white;
    background-color: $color-gray-600;
    border-color: $color-gray-600;
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px #ADB5BD;
    outline: none;
  }

  &:active {
    background-color: $color-gray-700;
    border-color: $color-gray-700;
    box-shadow: 0px 0px 0px 2px #ADB5BD;
    outline: none;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn-tertiary {
  color: $color-blue-700;
  background-color: $color-white;
  border-color: $color-white;

  &:hover {
    background-color: $color-gray-100;
    border-color: $color-gray-100;
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(38, 143, 255, .5);
    outline: none;
  }

  &:active {
    background-color: $color-gray-200;
    border-color: $color-gray-200;
    box-shadow: 0 0 0 2px rgba(38, 143, 255, .5);
    outline: none;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn-destructive {
  color: $color-white;
  background-color: $color-red-700;
  border-color: $color-red-700;

  &:hover {
    background-color: $color-red-800;
    border-color: $color-red-800;
    cursor: pointer;
  }

  &:focus {
    background-color: $color-red-700;
    border-color: $color-red-700;
    box-shadow: 0 0 0 2px rgba(225, 83, 97, .5);
    outline: none;
  }

  &:active {
    background-color: $color-red-900;
    border-color: $color-red-900;
    box-shadow: 0 0 0 2px rgba(225, 83, 97, .5);
    outline: none;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
