@import '../scss/component-helpers.scss';

:host {
  display: flex;
  position: relative;
  align-items: center;
  font-size: $text-md;
  color: $color-gray-700;
  min-height: 2.5rem;
  cursor: pointer;
  transition: color $transition-color;
  width: 100%;
  background-color: $color-nav-gray-100;
  padding-left: 2rem;
  @include noselect;
}

:host(:hover) {
  color: $color-blue-700;
}

:host([selected]:not([selected='false'])) {
  font-weight: bold;
  color: $color-blue-700;
  background-color: $color-white;
}

:host([disabled]:not([disabled='false'])) {
  color: $color-gray-400;
  cursor: default;
}
