@import '../scss/component-helpers.scss';

:host {
  width: 100%;
  position: relative;
}

.item {
  display: flex;
  position: relative;
  align-items: center;
  font-size: $text-md;
  color: $color-gray-700;
  min-height: 2.5rem;
  cursor: pointer;
  transition: color $transition-color;
}

.item:hover {
  color: $color-blue-700;
}

:host([selected]) .item::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  height: 8px;
  transform: translate(0, 100%);
  background-image: linear-gradient(rgb(34, 148, 229, 0.15) 0%, rgba(34, 148, 229, 0) 100%);
}

:host([selected]) .item {
  font-weight: bold;
  color: $color-blue-700;
  background-color: $color-white;
}

.subitems {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

:host([selected]) .subitems {
  max-height: 50rem; // some high value that should be higher than actual height!
  transition: max-height 0.2s ease-in;
}

.arrow {
  margin-left: auto;
  margin-right: 0.75rem;
  transition: transform 0.2s;
}

:host([selected]) .arrow {
  transform: rotate(180deg);
}

:host(:not(.has-subitems)) .arrow {
  display: none;
}
