@import '../../zen-styles/variables.scss';

$padding-x: 3.2rem;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 0.3);
}

.window {
  position: relative;
  background-color: $color-white;
  border-radius: 3px;
  box-shadow: 2px 6px 30px rgba(#000, 0.2);
}

.content {
  padding: 1.6rem $padding-x;
}

.buttons {
  padding: 0.8rem $padding-x;
  border-top: 1px solid $color-gray-200;
}
