@import '../../zen-styles/variables.scss';

$padding-x: 1.6rem;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

:host([topmost]) .dimmer {
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 0.3);
}

.window {
  pointer-events: all;
  position: relative;
  background-color: $color-white;
  border-radius: 3px;
  box-shadow: 2px 6px 30px rgba(#000, 0.2);
  min-width: 500px;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem $padding-x;
}

.x-button {
  margin-left: auto;
  font-size: $text-xl;
  cursor: pointer;
  color: $color-gray-300;
  @include noselect;
  padding: 0.2rem 1rem;
}

.content {
  padding: 1.6rem $padding-x;
}

::slotted([slot="buttons"]) {
  display: flex;
}

.footer {
  padding: 0.8rem $padding-x;
  border-top: 1px solid $color-gray-200;
  display: flex;
  justify-content: flex-end;
}
