@import './colors';

$shadow-focus: 0px 0px 0px 2px $color-blue-300;
$shadow-invalid: 0px 0px 0px 2px $color-red-300;

$shadow-small: 0px 2px 5px 1px rgba($color-blue-800, 0.15);
$shadow-layout-card: 0px 9px 38px rgba($color-blue-800, 0.07), 0px 7.66234px 23.7319px rgba($color-blue-800, 0.0321005),
  0px 6.91784px 16.9409px rgba($color-blue-800, 0.022576), 0px 4.61181px 9.64801px rgba($color-blue-800, 0.0131721);
$shadow-large: 0px 12px 36px rgba($color-blue-800, 0.09), 0px 6.72px 19.9317px rgba($color-blue-800, 0.0469552),
  0px 5.19px 6.83559px rgba($color-blue-800, 0.0401796), 0px 3.67px 1.30305px rgba($color-blue-800, 0.030586);
$shadow-black: 0px 2px 8px rgba($color-gray-700, 0.3);
