$text-3xl: 1.5rem !default;
$text-2xl: 1.25rem !default;
$text-xl: 1.125rem !default;
$text-lg: 1rem !default;
$text-md: 0.875rem !default;
$text-sm: 0.75rem !default;
$text-xs: 0.625rem !default;

$heading-xl: 2.25rem !default;
$heading-lg: 1.75rem !default;
$heading-md: 1.5rem !default;
$heading-sm: 1.25rem !default;
$heading-xs: 1.125rem !default;
