@import '../scss/component-helpers.scss';

:host {
  display: block;
  background: $color-gray-100;
  border-radius: 1rem;
  margin-left: 0.5rem;
  padding: 0 0.5rem;
  min-width: 1rem;
  text-align: center;
  color: $color-gray-700;
}

.hidden {
  visibility: hidden;
}
